body {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  height: 100vh;
}

/* サイドバー */
.sidebar {
  background-color: #fff;
  padding: 20px;
  overflow-y: hidden;
}

.sidebar h1 {
  font-size: 2em;
  margin: 0;
}

.subtext {
  color: #666;
}

.sidebar p {
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.5;
}

.sidebar hr {
  margin: 20px 0;
}

/* メインコンテンツ */
.main-content {
  padding: 20px;
  background-color: #e0f7fa;
  padding: 3em 5em;
}

.menu-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .5em;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  cursor: pointer;
  text-align: left;
}

.menu-button i.material-icons {
  margin-right: 10px;
}

.menu-button:hover {
  background-color: #f0f0f0;
}

/* サイドバー 本日イベント */
#todays-events h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#todays-events-list {
  display: grid;
  gap: 10px;
  overflow-y: scroll;
}

.birthday-item,
.event-item {
  display: grid;
  grid-template-columns: 1em 1fr;
  grid-column-gap: 1em;
  align-items: center;
}

.birthday-dot {
  grid-area: 1 / 1 / 3 / 2;
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

.event-line {
  grid-area: 1 / 1 / 3 / 2;
  border-radius: .5em;
  width: 1em;
  height: 100%;
}

.birthday-name {
  grid-area: 1 / 2 / 3 / 3;
  font-weight: bold;
}

.event-time {
  grid-area: 1 / 2 / 2 / 3;
  font-size: .75em;
  font-weight: bold;
}

.event-name {
  grid-area: 2 / 2 / 3 / 3;
}

/* メインコンテンツ フッター */
footer {
  text-align: center;
  padding: 20px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.footer-icon:hover {
  background-color: #555;
}